/* src/app/styles/globals.css */
body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

h2 {
  margin-top: 30px;
  color: #34495e;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

select[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #3498db;
  margin: 4px 2px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}

/* Nút "Tính toán" khi disabled (màu xám) */
button[type="submit"][disabled] {
  background-color: #ccc;
  cursor: default; /* Con trỏ mặc định */
}

.beam-diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chart-container {
  width: 70%;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Điều chỉnh kích thước cho màn hình nhỏ hơn */
@media (max-width: 768px) {
  .chart-container {
    width: 95%; /* Rộng hơn trên màn hình nhỏ */
  }
  .beam-link span {
    display: none; /* Ẩn phần text */
  }
  .beam-link {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .chart-container {
    width: 100%; /* Rộng hơn nữa trên màn hình rất nhỏ */
  }
}

/* Thêm CSS cho input area */
.input-area {
  display: flex; /* Sử dụng Flexbox */
  justify-content: space-around; /* Căn đều các phần tử con */
  align-items: stretch; /* Căn giữa theo chiều dọc */
  margin-bottom: 20px; /* Cách lề dưới */
}

/* Định nghĩa media query cho màn hình rộng */
@media (min-width: 1024px) { /* Điều chỉnh breakpoint khi cần thiết */
    .input-area {
      flex-direction: row; /* Xếp hàng ngang */
    }
  
    .input-area > div {
      flex: 1; /* Chia đều không gian cho các phần tử con */
      margin: 0 10px;
    }
}

/* Định nghĩa media query cho màn hình hẹp */
@media (max-width: 1023px) { /* Điều chỉnh breakpoint khi cần thiết */
  .input-area {
    flex-direction: column; /* Xếp hàng dọc */
  }
}

.edit-button {
  background-color: #4CAF50; /* Green */
  margin: 4px 2px;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-button:hover {
  background-color: #3e8e41; /* Darker green */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.beam-link {
  display: flex; /* Sử dụng Flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Ẩn phần ảnh bị tràn ra ngoài */
  transition: box-shadow 0.2s ease-in-out; /* Hiệu ứng đổ bóng */
  text-decoration: none; /* Loại bỏ gạch chân */
}

.beam-link:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.beam-link img {
  margin-right: 20px; /* Khoảng cách giữa ảnh và text */
}